body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}h1{
    font-weight: 900px;
}
.font-weight{
    font-weight: 900px;
}
}
.background-color{
    color: orange;
}
.group-pic{
    display: flex;
    margin-bottom: 10px;
}
.half-width{
    width: 50%;
    padding-left: 2%;
}
.half-width img{
    width: 50%;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(orange,tomato);
    padding: 10px;
    border-radius: 40px;
    color: white;
    font-weight: 700px;

}
.text-align{
    text-align: center;
    margin-bottom: 20px;
}
.three{
    width: auto;
    display: flex;
    box-shadow: 10px 10px 40px gray;
    border-radius: 10px;
    border-width: 20px;
}